# --- Google Gemini API ---
google-generativeai

# --- Core AI & Transformers ---
transformers>=4.35.0
torch>=2.3.0
torchaudio>=2.3.0
accelerate>=0.26.0
datasets>=2.20.0
whisper

# --- Audio Processing ---
soundfile
librosa

# --- Streamlit UI ---
streamlit>=1.36.0
streamlit-audiorec
streamlit-aggrid

# --- Text-to-Speech & File Handling ---
gtts
pyttsx3
edge-tts
PyPDF2
python-docx
openpyxl
pydrive2
giftless-client
# --- Data Handling ---
pandas

#Auth
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
